<p>
<form id="main-form">
<input type="text" name="search" id="search-text">
<input type="submit" id="search" value="{{__ 'Search' }}">
<input type="submit" id="clear-search" value="{{__ 'Clear Search' }}">
</form>
</p>

<!-- Flash messages -->
{{>> tdiscus-flash-messages.hbs }}

<!-- The space for the thread info -->
<div id="thread-div"><img src="{{ tsugi.spinnerUrl }}"></div>
<script>

    $('#search').click(function(ev){
        ev.preventDefault();
        alert('search');
    });

    $('#clear-search').click(function(ev){
        ev.preventDefault();
        alert('clear-search');
    });

    function loadThread() {
        $.getJSON(addSession('{{ tdiscus.tool_root }}/api/thread/{{ tsugi.rest_path.action }}'), function(thread) {
            window.console && console.log(thread);
            thread.body = TsugiXSS.process(thread.body);
            var context = { 
                'tsugi' : _TSUGI,
                'tdiscus' : _TDISCUS,
                'thread' : thread,
            };
            tsugiHandlebarsToDiv('thread-div', 'tdiscus-c-thread-fragment', context);
        }).fail( function() { 
            $('#alert-danger-text').empty().append('{{__ 'Unable to retrieve thread' }}');
            $('#alert-danger').show();
        } );
    }
    $(document).ready (function () { loadThread(); } );
</script>
