<p>
<form id="main-form">
<input type="text" name="search" id="search-text">
<input type="submit" id="search" value="{{__ 'Search' }}">
<input type="submit" id="clear-search" value="{{__ 'Clear Search' }}">
<input type="submit" id="add-disussion" value="{{__ '+ Discussion' }}"
onclick='window.location.href=addSession("{{ tsugi.rest_path.parent }}/new");return false;'
>
</form>
</p>

<!-- Flash messages -->
{{>> tdiscus-flash-messages.hbs }}

<!-- The space for the thread listing -->
<div id="threads-div"><img src="{{ tsugi.spinnerUrl }}"></div>
<script>

    $('#search').click(function(ev){
        ev.preventDefault();
        alert('search');
    });

    $('#clear-search').click(function(ev){
        ev.preventDefault();
        alert('clear-search');
    });

    function loadThreads() {
        $.getJSON(addSession('api/threads'), function(threads) {
            window.console && console.log(threads);
            context = { 
                'tsugi' : _TSUGI,
                'tdiscus' : _TDISCUS,
                'threads' : threads
            };
            tsugiHandlebarsToDiv('threads-div', 'tdiscus-c-threads', context);
        }).fail( function() { 
            $('#alert-danger-text').empty().append('{{__ 'Unable to retrieve threads' }}');
            $('#alert-danger').show();
        } );
    }
    loadThreads();
</script>
