<!-- Flash messages -->
{{>> tdiscus-flash-messages.hbs }}

<!-- The New Thread Modal -->
<div id="add-thread-div" title="{{__ "New Thread" }}" >
<form id="add-thread-form">
<p>
<input type="submit" id="add-thread-submit" value="{{__ '+ Thread' }}" >
<input type="submit" id="add-thread-cancel" value="{{__ 'Cancel' }}" 
onclick='window.location.href=addSession("{{ tsugi.rest_path.parent }}");return false;'
>
<span id="add-thread-feedback"></span>
</p>
<p>{{__ "Title:" }} <br/>
<input type="text" name="title" class="form-control">
</p>
<p>{{__ "Description:" }} <br/>
<textarea id="editor" name="body" class="form-control">
</textarea>
</p>
</form>
</div>

<script>
    $('#add-thread-submit').click(function(ev) {
        ev.preventDefault()
        for ( instance in CKEDITOR.instances )
            CKEDITOR.instances[instance].updateElement();
        var ser = $(ev.target.form).serialize();
        $('#add-thread-feedback').empty().append('<img src="{{ tsugi.spinnerUrl }}">').show();
        $.post(addSession('{{ tsugi.rest_path.parent }}/api/add-thread'), ser)
            .done( function(data) {
                // $('#add-thread-feedback').hide();
                // $('#add-thread-div').dialog('close');
                // $('#alert-success-text').empty().append('{{__ 'Success' }}');
                // $('#alert-success').show();
                window.location.href=addSession("{{ tsugi.rest_path.parent }}");
            })
            .error( function(xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
                $('#add-thread-feedback').empty()
                    .append('<span class="text-danger">{{__ 'Request Failed' }}</span>');
            });
    });

    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'editor' );
</script>
