{{#if threads.length}}
  {{#each threads}}
      <p><a href="{{ ../tsugi.rest_path.parent }}/thread/{{ thread_id }}"
            onclick="window.location=addSession(this.href); return false;">
  <b>{{ title }}</b></a><br/><div style="padding-left: 10px;">{{{ body }}}</div>
  </p>
  {{/each}}
{{else}}
No length
{{/if}}
