<b>{{data.thread.title}}</b>
{{{ data.thread.body }}}

<div id="add-comment-div" title="{{__ "New Comment" }}" >
<form id="add-comment-form">
<p>
<span id="add-comment-feedback"></span>
<input type="text" name="comment" class="form-control">
</p>
<p>
<input type="submit" id="add-comment-submit" value="{{__ '+ Comment' }}" >
</p>
</form>
</div>

{{#if data.comments.length}}
  {{#each data.comments}}
      <p>{{ comment }}</p>
  {{/each}}
{{else}}
No length
{{/if}}

<script>
    $('#add-comment-submit').click(function(ev) {
        ev.preventDefault()
        var ser = $(ev.target.form).serialize();
        $('#add-comment-feedback').empty().append('<img src="{{ tsugi.spinnerUrl }}">').show();
        $.post(addSession('{{ tsugi.rest_path.parent }}/api/add-comment/{{ tsugi.rest_path.action }}'), ser)
            .done( function(data) {
                $('#add-comment-feedback').hide();
                console.log('Yada');
                // $('#add-comment-div').dialog('close');
                // $('#alert-success-text').empty().append('{{__ 'Success' }}');
                // $('#alert-success').show();
                // window.location.href=addSession("{{ tsugi.rest_path.parent }}");
            })
            .error( function(xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
                $('#add-comment-feedback').empty()
                    .append('<span class="text-danger">{{__ 'Request Failed' }}</span>');
            });
    });
</script>

